body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2px;
    background-color: black;

}

a{
    color: white;
     text-shadow: 0 0 10px orange;
    position: relative;
    display: inline-block;
    /* transition: 2.2s; */
    padding: 15px 30px;
    overflow: hidden;
    text-decoration: none;
    font-size: 32px;
    padding: 15px 30px;
    transition: 0.2s;
    
}
a:hover{
    color: black;
    background-color: orange;
    box-shadow: 0 0 10px 0 orange,0 0 40px 0 orange,0 0 80px 0 orange;
    transition: 6s;
}
a span{
    position: absolute;
    display: block;
    
   
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
background: linear-gradient(90deg , transparent , orange);
}
a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;

}


a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
background: linear-gradient(270deg , transparent , orange);
}
a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    right: 0;
    top: -100%;
    height: 100%;
    width: 2px;
background: linear-gradient(180deg , transparent , orange);
}
a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 2px;
background: linear-gradient(360deg , transparent , orange);
}
a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}